body {
    background-color: $color-bg;
    font-family: 'Comic Neue', cursive;
    color: $color-text;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: all 150ms;
    background-color: transparent;
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: rgba($color-primary, .87);
    }
}
