.search {
    display: flex;
    margin-bottom: 32px;

    input {
        flex-grow: 1;
        margin-right: 16px;
        border-radius: 4px;
        border: none;
    }
}

.search-result-list {
    & > .search-result-list-item {
        margin-bottom: 16px;
        background-color: #fff;
        color: black;
        padding: 16px;
        border-radius: 4px;

        &:last-child {
            margin-bottom: none;
        }
    }
}
